.idea
pom.xml
pom.xml.asc
*.iml
*.jar
*.class
/lib/
/classes/
/target/
/local/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.terraform
out/
trace.edn
rocksdb-*
datomic-pro-*/
hs_err_pid*.log
artifact/
